ZH_LIST_MJ/list_mj/list_mj/Connected Services/PublicUserInfo/User1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="registrationactivitiesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Buyback" type="xs:decimal" />
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfregistrationactivitiesModel" />
      <xs:element minOccurs="0" name="Coupons" type="xs:decimal" />
      <xs:element minOccurs="0" name="GameCurrency" type="xs:int" />
      <xs:element minOccurs="0" name="GameNum" type="xs:int" />
      <xs:element minOccurs="0" name="GameUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadImgurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent1" nillable="true" type="tns:registrationactivitiesModel" />
      <xs:element minOccurs="0" name="Parent2" nillable="true" type="tns:registrationactivitiesModel" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TodayTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrationactivitiesModel" nillable="true" type="tns:registrationactivitiesModel" />
  <xs:complexType name="ArrayOfregistrationactivitiesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="registrationactivitiesModel" nillable="true" type="tns:registrationactivitiesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfregistrationactivitiesModel" nillable="true" type="tns:ArrayOfregistrationactivitiesModel" />
</xs:schema>